# Ignore environment variables
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore database and logs (if applicable)
*.sqlite3
logs/
